*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Pinaise
{
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
}
#wrapper
{
    background-color: yellow;
    width: 100%;
    margin: 0px auto;
    padding: 0 10%;
   
}
header figure img
{
    width: 100%;
    
}

h1{
    color: rgb(255, 255, 0);
    margin-top: 10px;
}

article p
{
    width: 500px;
    text-align: justify;
    font-size: 12px;
    margin-top: 35px;
}
ul{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    list-style-type: none;
    background-color: dodgerblue;
    text-align: center;
    padding: 10px;
}

a{
    color: white;
}
aside p{

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
aside figure img{
    width: 110px;
    border: 1px solid white;
    margin-top: 5px;

    
}
aside{
    background-color: dodgerblue;
    width: 150px;
    font-size: 12px;
    text-align: justify;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
figcaption{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: white;
}
footer{
    text-align: center;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 15px;
}
#middle
{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 350px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    margin-top: px;
}
