*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 #Pinaise
{
    text-align: center;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
 }
 
 body
 {
    background-color: rgb(255, 213, 0);
    
 }
 
 #wrapper
 {
    max-width: 1024px;
    margin: 0px auto;
    background-color: white;
 }
 
 header figure img
 {     
    width: 100%;    
 }
 
 h1{
    color: rgb(255, 213, 0);
    margin-left: 5px;
 }
 
 #middle{
    display: flex;
 }
 
 main
 {
    display: flex;
    padding: 10px;
 }
 
 main article   
 {
    margin-block-start: 40px;
    width: 100%;
 }
 
 main article p
 {
    margin-block-start: 15px;
    
 }
 
 article p
 {   
 
    text-align: justify; 
    margin: 5px;  
 }
 
 ul
 {
    
    list-style-type: none;
    background-color: dodgerblue;
    margin-block-start: 20px ;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center; 
    
 }
 ul a
 {
    color: white;
    text-decoration: none;
 }
 
 nav
 {
    padding: 10px 0 10px 10px;
    
 }
 
 aside figure img 
 {
    width: 120px; 
    border: 2px solid rgb(235,235,235);
    margin: auto;
 
 }
 
 aside{
    background-color: dodgerblue;
   
    margin: 15px 0;
    
    padding: 15px;  
    
 }
 
 aside figure
 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 }
 aside p 
 {
    text-align: justify;
    width: 140px;
    color: white;
 }
 figcaption
 {
    text-align: center;
    color: white;
 }
   
 footer
 {
    text-align: center;
    background-color: rgb(37, 140, 243);
    color: white;
    padding: 10px;
 }
 